/* Responsiveness media query */

/* For large screens, 1024px and above */
@media (min-width: 1024px) {
    .navbar-links {
        gap: 78px !important;
    }
    .introduction {
        gap: 100px !important;
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .tech-logos {
        gap: 250px !important;
    }
    .introduction-text {
        font-size: 24px !important; /* Added ! for important */
    }
}

/* For small screens, 320px to 1024px */
@media (min-width: 320px) and (max-width: 1023px) {
    .introduction-text {
        font-size: 18px !important; /* Added ! for important */
    }
}

/* Tech Logos */
.tech-logos {
    gap: 100px;
}

.tech-logo-container {
    background-color: #00000084;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0);
}

/* Introduction design */
.introduction {
    display: flex;
    margin-top: 34px;
    margin-bottom: 34px;
    gap: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.introduction-text {
    font-size: 12px;
}

/* Profile picture */
#profile-picture {
    border-radius: 100%;
}

.tech-logos img {
    width: 80px;
}

.introduction-content {
    margin-bottom: 34px;
}

/* Contact buttons */
.contact-buttons {
    display: flex;
    justify-content: left;
    gap: 15px;
    align-items: center;
}

.contact-image {
    width: 25px;
    height: 25px;
    animation: height 3s ease 1s;
}

.contact-image:hover {
    width: 30px;
    height: 30px;
}

.contact-me-button {
    padding: 5px 5px 5px 5px;
    background-color: #ad1945c7;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    animation: padding 5s ease 1s; 
}

.contact-me-button:hover {
    cursor: pointer;
    color: black;
    padding: 7.5px 7.5px 7.5px 7.5px;
}
