/* Responsiveness media query */

@media (width > 1024px) {
    .navbar-links {
        gap: 78px !important;
    }
    .introduction{
        gap: 100px !important;
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .tech-logos{
        gap: 250px !important;
    }
    .introduction-text{
        font-size: 36px;
    }
}


/*Tech Logos*/
.tech-logos{
    gap: 100px;

}

.tech-logo-container{
    background-color: #00000084;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/*Introduction design*/
.introduction{
    display: flex;
    margin-top: 34px;
    margin-bottom: 34px;
    gap: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.introduction-text{
    font-size: 18px;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
}
@keyframes typing {
    from {
      width: 0
    }
}

@keyframes blink {
    50% {
      border-color: transparent
    }
}
/*Profile picture*/
#profile-picture {
    border-radius: 100%;
}


.tech-logos img {
    width: 80px;
}

.introduction-content {
    margin-bottom: 34px;
}

.contact-buttons {
    display: flex;
    justify-content: left;
    gap: 15px;
    align-items: center;
}

.contact-image {
    width: 25px;
    height: 25px;
}

.contact-me-button {
    padding: 5px 5px 5px 5px;
    background-color: #ad1945c7;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
}

.contact-me-button:hover {
    cursor: pointer;
    color: black;
}