/* Responsiveness media query */

@media (width > 1024px) {
    .navbar-links {
        gap: 78px !important;
    }
    .introduction{
        gap: 100px !important;
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .tech-logos{
        gap: 250px !important;
    }
    .introduction-text{
        font-size: 36px;
    }
}


/*Tech Logos*/
.tech-logos{
    gap: 100px;

}

.tech-logo-container{
    background-color: #00000084;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/*Introduction design*/
.introduction{
    display: flex;
    margin-top: 34px;
    margin-bottom: 34px;
    gap: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.introduction-text{
    font-size: 18px;
}

/*Profile picture*/
#profile-picture {
    border-radius: 100%;
}


.tech-logos img {
    width: 80px;
}

.introduction-content {
    margin-bottom: 34px;
}