/*------------------General Styling-----------------------------*/
.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}
  
body {
    width: 100%;
    margin: 0;
    background-color: #000000;
    color: white;
}

/* Header styling */
header {
    width: 100%;
    background-color: #070030;
    padding: 5px 0px 5px 0px;
    margin-bottom: 34px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
/* Class selector to center content */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navbar links styling */
.navbar-links {
    left: 0;
    top: 0;
    list-style: none;
    padding: 15px 25px 0px 25px;
    margin-top: 0;
    position: fixed;
    background: inherit;
    height: 1000vh;
    animation: moveToRight 1s ease-in-out forwards;
}
@keyframes moveToRight {
    from {
        left: -200px; /* Starting position */
    }
    to {
        left: 0; /* End position */
    }
}

@keyframes moveToLeft {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}
.burger-button {
    background: none;
    border: none;
}
.burger-button:hover {
    cursor: pointer;
}
.close-button-container {
    display: flex;
    justify-content: right;
}
.close-button-container button {
    background: none;
    border: none;
    color: white;
}
.close-button-container button:hover {
    cursor: pointer;
    color: red;
}
.navbar-link {
    color: white;
}
.navbar-link:link {
    text-decoration: none;
}
.navbar-link:visited {
    text-decoration: none;
}
.navbar-link:hover {
    text-decoration: none;
    color: #b2b0b0;
}
.navbar-link:active {
    text-decoration: none;
}
.navbar-link-item {
    text-align: center;
    margin-bottom: 15px;
}
/*Selected link*/
.selected-link {
    color: #ad1945c7;
}
.margin-bottom {
    margin-bottom: 34px;
}

/* The switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider styles */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

/* Checked state */
input:checked + .slider {
    background-color: #ad1945c7;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded switch */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* base references styling */

.base-ref:hover {
    color: blue !important;
}
.base-ref:visited{
    color: rgb(37, 185, 253);
}

/*------------------------------index.html styling-----------------------------------*/

/* Responsiveness media query */

/* For large screens, 1024px and above */
@media (min-width: 1024px) {
    .navbar-links {
        gap: 78px !important;
    }
    .tech-logos {
        gap: 250px !important;
    }
    .introduction-text {
        font-size: 24px !important; /* Added ! for important */
    }
}

/* For small screens, 320px to 1024px */
@media (min-width: 320px) and (max-width: 1023px) {
    .introduction-text {
        font-size: 18px !important; /* Added ! for important */
    }
}

/* Tech Logos */
.tech-logos {
    gap: 100px;
}

.tech-logo-container {
    background-color: #ad1945c7;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 1px 4px 4px 0px #ad194597;
}

/* Introduction design */
@media (min-width: 1100px) {
    .introduction-container {
        width: 1000px;
    }
}

@media (min-width: 600px) and (max-width: 1100px) {
    .introduction-container {
        width: 500px;
    }
}
@media (max-width: 600px) {
    .introduction-container {
        width: 300px;
    }
}
.introduction {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-bottom: 34px;
    gap: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.introduction-text {
    font-size: 12px;
    margin-top: 0;
}
.introduction-container {
    background: #ad1945c7;
    padding: 15px 15px 15px 15px;
    border-radius: 5px 5px 5px 5px;
    color: white;
}
/* Profile picture */
#profile-picture {
    border-radius: 100%;
}

.tech-logos img {
    width: 80px;
}

.introduction-content {
    margin-bottom: 34px;
}

/* Contact buttons */
.contact-buttons {
    display: flex;
    justify-content: left;
    gap: 15px;
    align-items: center;
}

.contact-image {
    width: 25px;
    height: 25px;
    animation: height 3s ease 1s;
}

.contact-image:hover {
    width: 30px;
    height: 30px;
}

.contact-me-button {
    padding: 5px 5px 5px 5px;
    background-color: #000000;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    animation: padding 5s ease 1s; 
}

.contact-me-button:hover {
    cursor: pointer;
    color: black;
    padding: 7.5px 7.5px 7.5px 7.5px;
}

/*----------------------technical_portfolio.html-------------------------------------*/
@media (max-width: 880px) and (min-width: 620px){
    .project-image {
        width: 250px !important;
        height: auto !important;
    }
}
@media (max-width: 620px) {
    .project {
        flex-direction: column !important;
    }
}
.projects-container {
    width: 90%;
    flex-wrap: wrap;
}

/*Styling project card*/
.project {
    background-color: #ad19458d;
    color: white;
    border-top: white;
    border-top-style: solid;
    border-top-width: 3px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.github-image {
    width: 25px;
    height: 25px;
    animation: height 3s ease-in 1s;
}
.github-image:hover {
    width: 30px;
    height: 30px;
}

.project-image {
    width: 500px;
}

/*-----------------------------qualifications.html------------------------------------*/

/* Reponsiveness */
@media (width > 1240px) {
    .tech-stack {
        gap: 50px !important;
    }
    .technical-areas-list li {
        width: 500px !important;
    }
}

@media (max-width: 680px) {
    .section {
        flex-direction: column;
        justify-content: center;
    }
    .pdf-container {
        width: 500px;
    }
}

.technical-areas-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 25px;
    padding-left: 0;
}
.technical-areas-list li {
    padding: 10px;
    border-style: solid;
    width: 250px;
    display: flex;
    font-size: 18px;
}
h2 {
    border: white;
    border-style: inset;
    padding: 20px;
    text-align: center;
}
.tech-stack-rows {
    flex-direction: column;
    gap: 25px;
}
.tech-stack img {
    width: 50px;
    height: 50px;
}
.tech-stack {
    display: flex;
    gap: 25px;
    border: white;
    border-style: solid;
    padding: 10px;
    background: #ad1945c7;
}
.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: white;
    border-top-style: solid;
    padding: 50px;
}
.resume-container {
    margin-bottom: 25px;
}

/*---------------service.html-------------------------*/
@media (min-width: 620px) {
    .service-content-container {
        font-size: 18px !important;
    }
}
.service-content-container {
    width: 90%;
    text-align: center;
    align-self: center;
    display: flex;
    align-content: center;
    background-color: #ad1945c7;
    color: white;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

.button-next, .button-next-disabled {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
    background: transparent;
    border-right: 0;
}

.button-next {
	border-left: 50px solid #ad1945c7;
}

.button-next:hover {
    cursor: pointer;
	border-left: 50px solid #070030;
    
}

.button-next-disabled {
    border-left: 50px solid #818183;
}

.button-previous, .button-previous-disabled {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
    border-left: 0;
    background: transparent;
}

.button-previous {
	border-right: 50px solid #ad1945c7;
}

.button-previous:hover {
    cursor: pointer;
	border-right: 50px solid #070030;
}

.button-previous-disabled {
	border-right: 50px solid #818183;
}
