.projects-container {
    display: flex;
    gap: 50px;
    width: 90%;
}

/*Styling project card*/
.project {
    background-color: #07003084;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

.link-container {
    display: flex;
    justify-content: right;
}
.github-image {
    width: 25px;
    height: 25px;
}